body{
    background-image: url(food.png);
    margin:0;
    padding:0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
nav{
    width: 100%;
    background-color: #000;
    overflow: hidden;
}
nav ul{
    list-style: none;
    float: right;
    
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    padding: 20px 35px;
    text-align: center;
    color: #fff;
    display: block;
    font-weight: 700;
}
.logo{
    width: 10;
    height: 20;
    padding:;
}


.hungry{
    padding-left:3% ;
}
.hungry img{
    
    width:8.5%;
    height:30%;
    margin-left:-15px;
   border-radius: 49px;
   box-shadow: 2px 6px 40px black;
}
.hungry h1{
    color:rgb(164, 189, 24);
    font-size:500%;
    margin-top: -7%;
    padding-left: 13%;
    
}
.hung{
    margin-right:-2%
}
.menu{
    display: flex;
    box-shadow:0 0 10px 10px rgba(0, 0, 0, 0.63); 
    margin-right: 50%;
    margin-left: 2%;
    color: white;
    padding-right: -30%;
    margin-top:-10%;
    font-size: 110%;
    border-radius: 30px;
    padding: 5px 30px;
    
}
h2{
    color: rgb(78, 7, 7);
   
}
#drink{
    
    margin-left: -49%;
    padding-top: 10px;
    margin-right: 47%;
}
/* li{
    background-color: #fba721bd;
    padding: 5px 5px;
} */
.order a{
    text-decoration: none;
    color: white;
    text-align: right;
    font-size: 300%;
    padding-top: 300%;
   
}
p{
    
 margin-left: 1100px;
 padding-right: 10px;
 border-radius: 4px;
 background-color: #bb5120be;
    box-shadow:0 0 10px 10px rgba(0, 0, 0, 0.63); 
}