body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-image: url(food.png);
     background-position: center;
     background-size: cover;
    background-attachment: fixed; 
     background-repeat: no-repeat; 
      font-family: 'Poppons', sans-serif;
}
 nav{
    width: 100%;
    height:80px;
    background-color:#d35110a1 ;
    line-height: 40px;
    padding: 0px 0px;
    position: fixed;
    /* z-index: 1; */
 }
 .logo{
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    margin: -18px 5px 20px 50px;
   

    /* padding: -4px 5px 10px 90px; */
 }
 .logo p{
     float: left;
     color:white;
     text-transform: uppercase;
     text-shadow: 1px 1px 2px white;
 }
nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 20px;
}
nav ul li a:hover{
    color: brown;
    background-color:white;
    padding:5px;
    margin-right: 15px;
    box-shadow: 2px 0px 4px 9px #ffb303;
    border-radius: 3px;
}
/* .image{
    width: 0%;
     height: 0px;
     
}  */
.letter-h{
    color:#5B86D5

}
.letter-u{
    color: rgb(210, 245, 86);
}
.letter-n{ 
    color: rgb(187, 8, 8);
}
.letter-g{
    color: #f0ca0b;
}
.letter-r{
    color: rgb(210, 158, 238);
   
}
.letter-y{
    color: rgb(9, 66, 66);
}
.question-mark{
    color: rgb(156, 223, 90);
}




/* .menu{
    display: flex;
    box-shadow:0 0 10px 10px rgba(0, 0, 0, 0.63); 
    margin-right: 50%;
    margin-left: 2%;
    color: white;
    padding-right: -30%;
    margin-top:-10%;
    font-size: 110%;
    border-radius: 30px;
    padding: 5px 30px;
    
}
h2{
    color: rgb(78, 7, 7);
   
}
#drink{
    
    margin-left: -49%;
    padding-top: 10px;
    margin-right: 47%;
}

.order a{
    text-decoration: none;
    color: white;
    text-align: right;
    font-size: 300%;
    padding-top: 300%;
   
}
h5{
    
 margin-left: 1100px;
 padding-right: 10px;
 border-radius: 4px;
 background-color: #bb5120be;
    box-shadow:0 0 10px 10px rgba(0, 0, 0, 0.63); 
}
h5:hover{
    color:pink;
    background-color: rgba(165, 42, 42, 0.651);
    padding:20px;

} */