body{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
     /* background-image: url(food.png);
     background-position: center; */
    /* background-size: cover;
    background-attachment: fixed; 
     background-repeat: no-repeat; 
      font-family: 'Poppons', sans-serif; */
}
 nav{
    width: 100%;
    height:80px;
    background-color:#d35110a1 ;
    line-height: 40px;
    padding: 0px 0px;
    position: fixed;
    /* z-index: 1; */
 }
 .logo{
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    margin: -18px 5px 20px 50px;
 }
 .logo p{
     float: left;
     color:white;
     text-transform: uppercase;
     text-shadow: 1px 1px 2px white;
 }
nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 20px;
}
nav ul li a:hover{
    color: brown;
    background-color:white;
    padding:5px;
    margin-right: 15px;
    box-shadow: 2px 0px 4px 9px #ffb303;
    border-radius: 3px;
}
.image{
    width: 0%;
     height: 0px;
} 

span:nth-child(1){
    color:rgb(60, 189, 146);
}
span:nth-child(2){
    color: rgb(210, 245, 86);
}
span:nth-child(3){
    color: rgb(187, 8, 8);
}
span:nth-child(4){
    color: #f0ca0b;
}
span:nth-child(5){
    color: rgb(210, 158, 238);
}
span:nth-child(6){
    color:rgb(9, 66, 66);
}
span:nth-child(7){
    color:rgb(156, 223, 90);
}

 .menu{
    display: flex;
    color: #f5c430;
    background-color: mediumaquamarine;
    margin:-77% 0% 0% 3%;
    font-size: 110%;
    padding: 5px 30px 50px 5px;
     /* margin: 0px 0px 0px 30px; */

}
.menu li{
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 5px;
    padding: 2px 15px 2px 18px;
    list-style: none;
    box-shadow: 10px 4px 5px rgb(1, 2, 1);
}

h2{
    color: rgb(78, 7, 7);
    background-color: rgb(156, 223, 90);
    border-radius: 5px;
    padding: 5px;
   
} 
#drink{
     margin-left: -49%;
    padding-top: -3px;
    margin-right: 47%;
}
.order{
    margin-left: 43%;
    float: right;
    /* background-color: burlywood ; */
   
}
.order a{
    color: white;
    position:relative;
    text-decoration: none;
    float: right;
    
}
.order h5{
    padding: 10px;
    background-color: burlywood;
}
