body{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(food-img.jpg);
    background-size: 100% 88%;
    background-repeat: no-repeat;
  background-attachment: fixed;
  
}
 nav {
    width: 100%;
    position: fixed;
}
 .logo{
    font-size: 38px;
    font-weight: bold;
    margin: -18px 5px 20px 50px;
 }
 .logo p{
     float: left;
     text-transform: uppercase;
     text-shadow: 1px 1px 2px white;
     margin-top: 16px;
     margin-left: 20px;
 }
 span:nth-child(2n+1){
    color:rgb(255, 255, 255);
}
span:nth-child(2n){
    color: #f0ca0b;
}
/* span:nth-child(3){
    color:#F7F7F7;
 */

nav ul{
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    font-weight: 700;
}

nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 10px;
}
nav ul li a:hover{
    color: brown;
    background-color:white;
    padding:5px;
    margin-right: 15px;
    box-shadow: 2px 0px 4px 9px #ffb303;
    border-radius: 3px;
}
#shop{
    margin-right:35px;
}
#nav-icons{
    padding:2px;
}
#submit-recipe{
    border: 1px solid white;
    border-radius: 20px;
    padding: 4px 12px;
}
.image{
    width: 100%;
    height:30%;
}
.heading{
    /* position: fixed; */
}
.header-text{
    color: white;
    margin-top:-95px;
    margin-left: -200px;
    width: 50%;
    /* position: absolute; */
}
.header-text h1{
    font-size: 40px;
    word-wrap:break-word;
}
.btn-group{
    overflow: hidden;
    margin-top: 325px;
    margin-left: 140px;
   border-radius: 20px;
   width: 30%;
   padding: 0px;
   background-color:#fff;
}
.btn-group .active{
    border-right: 1px solid;
    padding-right: 25px;
    width: 70%;
    margin-left: -50px;
}
.btn{
    font-size: 1px;
    font-weight: bold;
}
.btn-group .category{
    width: 26%;
}
.btn-group .fa-search{
    background-color: #F0CA0B;
    border-radius: 10px;
}
